<ion-view view-title="Inicio">
    <ion-content>
        <div class="list card">
            <div class="item item-avatar">
                <img src="img/box.png">
                <h2>Nueva flota de camiones</h2>
                <p>Enero 15 de 2016</p>
            </div>
            <div class="item item-body">
                <img class="full-image" src="https://farm7.staticflickr.com/6048/6304888398_e40c4ebcb2_z_d.jpg">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent ullamcorper lobortis justo ac facilisis. Suspendisse dapibus neque et diam congue consectetur.</p>
                <p>
                    <a href="#" class="subdued">Leer más...</a>
                </p>
            </div>
        </div>
        <div class="list card">
            <div class="item item-avatar">
                <img src="img/box.png">
                <h2>Llegamos a todos los ríos del país</h2>
                <p>Noviembre 18 de 2015</p>
            </div>
            <div class="item item-body">
                <img class="full-image" src="https://upload.wikimedia.org/wikipedia/commons/c/cc/WestCoastAirFloatplane.jpg">
                <p>Donec placerat eros magna, sed euismod massa hendrerit vitae. Nunc sodales tortor sit amet fringilla laoreet. Donec vitae lacinia erat. Cras faucibus risus quis leo pellentesque, non pulvinar neque rhoncus. Etiam sed condimentum odio. Suspendisse nec orci arcu.</p>
                <p>
                    <a href="#" class="subdued">Leer más...</a>
                </p>
            </div>
        </div>
    </ion-content>
</ion-view>