<ion-modal-view>
    <ion-header-bar>
        <h1 class="title">Resultado del rastreo</h1>
        <div class="buttons">
            <button class="button button-clear" ng-click="cierraRastreo()"><i class="icon ion-close"></i></button>
        </div>
    </ion-header-bar>
    <ion-content>
        <div class="list list-inset">
            <div class="item">
                12/10/2015: Paquete en tránsito
            </div>
            <div class="item">
                10/10/2015: Salida de despacho, Bucaramanga.
            </div>
            <div class="item">
                10/10/2015: Recepción en despacho, Cartagena.
            </div>
        </div>
    </ion-content>
</ion-modal-view>
