/* Estilos para el mapa */
#directions-panel {
    width: 100%;
    overflow: auto;
}
.transformable {
    -webkit-transition: height 100ms ease-in-out;
    -moz-transition: height 100ms ease-in-out;
    -o-transition: height 100ms ease-in-out;
    -ms-transition: height 100ms ease-in-out;
    transition: height 100ms ease-in-out;
}
.panelGrande {
    height: 40%;
}
.panelChico {
    height: 5%;
}
.mapaGrande {
    height: 95%;
}
.mapaChico {
    height: 60%;
}
.directions-panel-left {
    display: block;
    float: left;
    width: 90%;
    text-align: left;
}
.directions-panel-right {
    display: block;
    float: right;
    width: 10%;
    text-align: right;
    font-family: "Ionicons";
    font-size: 1.2em;
}
.chevronArriba:before {
    content: '\f126';
}
.chevronAbajo:before {
    content: '\f123';
}
/* Estilos para el menú */
.platform-android ion-item i,
.platform-ios ion-item i,
.platform-windowsphone ion-item i {
    font-size: 1.5em;
    display: block;
    float: left;
    width: 1.5em;
    margin-right: 0.75em;
    text-align: center;
    font-family: "Ionicons";
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    text-rendering: auto;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}
.platform-android .mybox-inicio:before {
    content: '\f38f';
}
.platform-ios .mybox-inicio:before {
    content: '\f447';
}
.platform-android .mybox-mapa:before {
    content: '\f1ff';
}
.platform-ios .mybox-mapa:before {
    content: '\f455';
}
.platform-android .mybox-rastreo:before {
    content: '\f2f5';
}
.platform-ios .mybox-rastreo:before {
    content: '\f4a5';
}
.platform-android .mybox-recoger:before {
    content: '\f3ec';
}
.platform-ios .mybox-recoger:before {
    content: '\f3eb';
}
